python-dotenv
TTS==0.13.3
openai-whisper==20240930 
transformers==4.45.1 
speechbrain==1.0.2 
deepface==0.0.93 
audio-separator==0.24.1 
onnxruntime==1.20.1 
yt-dlp==2024.11.18
groq==0.13.0 
pyannote.audio
deepface
-U numba
tiktoken
packaging==20.9
